
$black: #4D5264;
$grey: #9BA0B4;

@mixin clear-link {
  text-decoration: none;
}

@mixin animation {
  transition: all .1s ease-in-out;
}

/****************************/
/****************************/
/****************************/


body {
  font-family: 'Roboto', sans-serif;
}

a[href^=tel] {
  color: $black;
}

* {
  box-sizing: border-box;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

@media all and (-ms-high-contrast:none){
  .service-card__title {
    color: #36F298;
    background: none !important;
  } /* IE10 */
  *::-ms-backdrop, .service-card__title {
    color: #36F298;
    background: none !important;
  } /* IE11 */

  .section-cost .cost-plane--standart .cost-plane__title {
    color: #36F298;
    background: none !important;
  }

  .section-cost .cost-plane--business .cost-plane__title {
    color: #0D81D8;
    background: none !important;
  }

  .section-cost .cost-plane--maximum .cost-plane__title {
    color: #DB40A2;
    background: none !important;
  }

}

.layout {
  max-width: 100%;
  padding: 0 80px;
}

.tab-content {
  display: none;
}

.tab-content:nth-child(1) {
  display: block;
}

.wrapper {
}

.icon-gift {
  display: inline-block;
  fill: #fff;
  font-size: 3.2rem;
  width: 1em;
  height: .9em;
}

.icon-dice {
  display: inline-block;
  fill: #9BA0B4;
  font-size: 1.9rem;
  width: 1em;
  height: .9em;
}

.c-section {
  padding: 0 0 80px;
}

.section-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  color: $black;
  text-align: center;
  margin: 0 0 22px;
  position: relative;
}

.section-subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: $grey;
  padding: 0;
  margin: 0 0 25px;
}

.c-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include clear-link();
  transition: all .3s ease-in-out;
  outline: none;
  border: none;
  color: #EEF2F5;
  font-size: 14px;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background: linear-gradient(89.7deg, #0D81D8 0.29%, #1EBDFE 99.77%);
  filter: hue-rotate(0deg);

  &-bg {
    display: block;
    background: linear-gradient(89.7deg, #0D81D8 0.29%, #1EBDFE 99.77%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 300px;
    z-index: 1;
    transition: all .3s ease-in-out;
  }

  &-text {
    position: relative;
    z-index: 2;
  }

  &:hover .c-btn-bg {
    transform: scale(1.03);
    background-position: 100% 0;

  }

  //&--blue {
  //  background: linear-gradient(89.7deg, #0D81D8 0.29%, #1EBDFE 99.77%);
  //
  //  &:hover {
  //    filter: hue-rotate(100deg);
  //  }
  //}
  //
  //&--green {
  //  background: linear-gradient(90deg, #14D6C2 -30.77%, #36F298 100%);
  //
  //  &:hover {
  //    filter: hue-rotate(100deg);
  //  }
  //}
  //
  //&--purple {
  //  background: linear-gradient(90.05deg, #DB40A2 0.05%, #FFA6BB 99.96%);
  //
  //  &:hover {
  //    filter: hue-rotate(620deg);
  //  }
  //}

  &-layout {
    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--left {
      text-align: left;
    }

  }

  &-default {
    font-size: 14px;
    padding: 10px 30px;
  }

  &-big {
    padding: 23px 30px;
    box-shadow: 10px 9px 20px rgba(9, 126, 216, 0.22);
  }
}

.c-form {
  width: 100%;

  &__body {
    margin-bottom: 6px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    font-size: 13px;
    margin-bottom: 26px;
    text-align: center;
    color: #4D5264;

    a {
      color: inherit;
    }
  }

  &__footer {

  }
}

textarea,
.c-input {
  letter-spacing: 0.05em;
  font-weight: 300;
  color: #9BA0B4;
  width: 100%;
  padding: 13px 21px;
  font-size: 14px;
  line-height: 24px;
  background: #FFFFFF;
  border: none;
  outline: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

.c-label {
  width: 100%;
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
}

.c-textarea {
  width: 100%;
  display: block;
  padding: 13px 21px;
  font-size: 14px;
  background: #FFFFFF;
  border: none;
  outline: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}


.c-schema {
  position: relative;

  &__title {
    font-weight: normal;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #9BA0B4;
  }

  &__wrapper {
    width: 100%;
  }

  &__grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__col {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 36px;

    span {


    }
  }

  &__data {
    width: 30px;
    position: relative;
    height: 118px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: stretch;

    span {
      display: block;
    }
  }


  &__name {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: $grey;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__res {
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #7CA2BE;
    //top: 5%;
    opacity: 0;
    transition: all .2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 40%;
      height: 16px;
      width: 1px;
      border-right: 1px dashed #000;
    }

    &--min {
      top: auto;
      bottom: 40%;

    }

    &--max {

      top: 5%;
      color: #FFA6BB;
    }
  }

  &--pink {
    .c-schema__col {
      &:nth-child(1) span {
        background-color: #dd46a4;

      }

      &:nth-child(2) span {
        background-color: #e356a8;
      }

      &:nth-child(3) span {
        background-color: #e96aac;
      }

      &:nth-child(4) span {
        background-color: #f07db1;
      }

      &:nth-child(5) span {
        background-color: #f790b6;
      }

      &:nth-child(6) span {
        background-color: #fea3bb;
      }
    }

    .c-schema__res--max {
      color: #dd46a4;
    }

  }

  &--green {
    .c-schema__col {
      &:nth-child(1) span {
        background-color: #1ddeb8;
      }

      &:nth-child(2) span {
        background-color: #21e1b1;
      }

      &:nth-child(3) span {
        background-color: #26e5ab;
      }

      &:nth-child(4) span {
        background-color: #2be9a5;
      }

      &:nth-child(5) span {
        background-color: #31eea0;
      }

      &:nth-child(6) span {
        background-color: #35f199;
      }
    }

    .c-schema__res--max {
      color: #1ddeb8;
    }

  }

  &--blue {
    .c-schema__col {
      &:nth-child(1) span {
        background-color: #0e83da;
      }

      &:nth-child(2) span {
        background-color: #118ee0;
      }

      &:nth-child(3) span {
        background-color: #149ae8;
      }

      &:nth-child(4) span {
        background-color: #17a4ee;
      }

      &:nth-child(5) span {
        background-color: #1aaff5;
      }

      &:nth-child(6) span {
        background-color: #1dbafc;
      }
    }

    .c-schema__res--max {
      color: #0e83da;
    }
  }
}

.swiper-pagination-fraction {
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 14px;
  line-height: 34px;
  color: #9BA0B4;
}

.swiper-pagination-current {
  color: #4D5264;
}

.swiper-button-next,
.swiper-button-prev {
  transition: all .4s ease;
  &:hover {
    transform: translateY(-6px);
  }
}

/****************************/
/****************************/
/****************************/
.menu-mobile {
  padding: 30px 20px;
  max-width: 320px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  right: -500px;
  top: 0;
  height: 100%;
  transition: all .3s ease-in-out;

  &.is-visible {
    transition: all .3s ease-in-out;
    right: 0;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      top: 14px;
      left: 0;
      width: 28px;
      height: 2px;
      background-color: #7CA2BE;;
      transform: rotate(-45deg);

    }

    &::after {
      content: '';
      position: absolute;
      top: 14px;
      left: 0;
      width: 28px;
      height: 2px;
      background-color: #7CA2BE;;
      transform: rotate(45deg);

    }
  }

  &__head {
    margin-bottom: 40px;
  }

  &__logo {
    img  {
      display: block;
      margin: 0 auto;
      max-width: 185px;
    }
  }

  &__body {
    margin-bottom: 30px;
    .header-menu {
      a {
        display: block;
        padding: 15px 10px;
        border-bottom: 1px solid #EEF2F5;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #9BA0B4;
        text-decoration: none;

        &:last-child {
          border: none;
        }
      }
    }
  }

  &__footer {

    .c-btn-layout {
      margin-bottom: 16px;
    }

  }

  &__phone {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    text-decoration: none;
  }
}
